<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="page_content" id="page_content">

    <div th:each="evento : ${evento}">
        <h5>Detalhes do Evento</h5>

        <p class="text-left">Nome: <span th:text="${evento.nome}"></span></p>
        <p class="text-left">Local: <span th:text="${evento.local}"></span></p>
        <p class="text-left">Data: <span th:text="${evento.data}"></span></p>
        <p class="text-left">Horario: <span th:text="${evento.horario}"></span></p>


        <th:block th:include="mensagemValidacao"></th:block>
        <br/>

        <form method="post">
            <div class="form-group">
                <label for="nmconvidado">Nome</label>
                <input type="text" class="form-control" id="nmconvidado" value="" name="nomeConvidado"/>
                <label for="rgconvidado">RG</label>
                <input type="number" id="rgconvidado" class="form-control" value="" min="0000000" max="9999999"
                       name="rg"/>
                <br/>
                <button class="btn btn-primary" type="submit">Adicionar</button>
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nome Convidado</th>
            <th scope="col">Rg Convidado</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="convidado : ${convidados}">
            <td><span th:text="${convidado.nomeConvidado}"></span></td>
            <td><span th:text="${convidado.rg}"></span></td>
        </tr>
        </tbody>

    </table>

</div>

</html>