<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">

<div layout:fragment="page_content" id="page_content">


    <th:block th:include="mensagemValidacao"></th:block>

    <form method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" value="" name="nome">
            <label for="local">Local</label>
            <input type="text" class="form-control" id="local" value="" name="local">
            <label for="data">Data</label>
            <input type="date" class="form-control" id="data" value="" name="data">
            <label for="horario">Horário</label>
            <input type="time" class="form-control" id="horario" value="" name="horario">
            <br/>
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </form>

</div>
</html>